body {
    font-family: Arial, Helvetica, sans-serif; 
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    padding: 0;
    margin: 0;
    color: #f0f0f0;

}

h1 {
    background-color: black;
    padding: 10px;
    margin: 0;
    color: #ffffff;
}
li {
    float: left;
}

li a {
    display: block;
    color: #f0f0f0; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555; 
}

.active {
    background-color: #000000;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #111; 
    padding: 20px 0;
    text-align: center;
}

.footer img {
    max-width: 80px; 
    margin-bottom: 10px;
}

.footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
    color: #ffffff;
}

.footer p {
    font-size: 14px;
    line-height: 1.5;
    color: #cccccc; 
}

.footer a {
    text-decoration: none;
    color: #92a4ff;
}

.footer a:hover {
    color: #ffffff; 
}

.bio-container {
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


.bio-text {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}

.decor-line {
    height: 2px;
    width: 80%;
    background-color: #92a4ff;
    margin: 20px auto;
}
.progress-section {
    margin-top: 20px;
  }
  
  .progress-bar {
    animation: growProgress 2s ease-in-out forwards;
  }
  
  @keyframes growProgress {
    from {
      width: 0;
    }
    to {
      width: 80%; 
    }
  }

  .floating-container {
    text-align: center; 
    margin-top: 50px; 
  }
  
  .floating-image {
    width: 150px;
    height: auto; 
    
    
    animation: float 3s ease-in-out infinite;
  }
  
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-20px); 
    }
  }

